.wrap {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.wrap:after {
  clear: both;
  content: '';
  display: table;
}

.content {
  float: left;
  width: 66.6666666667%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sidebar {
  float: left;
  width: 33.3333333333%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* ------------------------------------
    Reset
 ------------------------------------*/
html, body, div, form, fieldset, legend, label {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

caption {
  font-weight: normal;
}

img {
  border: 0;
}

/* ------------------------------------
    Base
 ------------------------------------*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: #3B3B3B;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.6em;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
}

img, figure {
  height: auto;
  max-width: 100%;
}

img {
  vertical-align: top;
}

/* ------------------------------------
    Typography
 ------------------------------------*/
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0;
}

/* ------------------------------------
    Grid
 ------------------------------------*/
.wrap {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.wrap:after {
  clear: both;
  content: '';
  display: table;
}

/* ------------------------------------
    Buttons
 ------------------------------------*/
