//  --------------------------------------------------------------
//  Mixins
//  --------------------------------------------------------------

//  --------------------------------------------------------------
//  Breakpoints v0.1.2
//  --------------------------------------------------------------
@mixin mq($breakpoint, $breakpoint2: null, $query: min)

    // Check is breakpoint is unitless
    @if unitless($breakpoint)
        @warn "Assuming '#{$breakpoint}' to be in pixels"
        $breakpoint: $breakpoint + 'px'

    @if $breakpoint2 != null
        // Check is breakpoint2 is unitless
        @if unitless($breakpoint2)
            @warn "Assuming '#{$breakpoint2}' to be in pixels"
            $breakpoint2: $breakpoint2 + 'px'

        @media screen and (min-width: #{$breakpoint}) and (max-width: #{$breakpoint2})
            @content

    @else
        @media screen and (#{$query}-width: $breakpoint)
            @content


//  --------------------------------------------------------------
//  Grid v0.1
//  Inspired by Grzybek
//  --------------------------------------------------------------

// Row
@mixin row($inside: false)
    @if($inside == true)
        margin-left: -$gutter / 2
        margin-right: -$gutter / 2

    @else
        width: 100%
        max-width: $wrapper
        margin-left: auto
        margin-right: auto

    &:after
        clear: both
        content: ''
        display: table

// Column
@mixin col($width: 1, $padding: true)
    float: left
    width: percentage($width)

    @if($padding == true)
        padding-left: $gutter / 2
        padding-right: $gutter / 2
